<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghost Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/jass.css"> 
</head>

<body>
    <div class="header">
        <h1>Ghost Tracker</h1>
            <p>What did the ghost buy at the bar? Boos!</p>
    </div>
    <div class="topnav">
        <a href="/homepage">Home</a>
        <a href="/post">New Post</a>
        <a href="/login">Login</a>
    </div>
                
        
        
        <main class="container-fluid mt-5">
            {{{body}}}
        </main>
        <footer>

        </footer>
    </div>
</body>

</html>