<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghost Tracker</title>
<<<<<<< HEAD
=======

    <link rel="stylesheet" href="/css/jass.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    {{!-- <link rel="stylesheet" href="/css/style.css"> --}}

>>>>>>> 754f1d3d7fcee6fd203ed2cc048c3cf4402e8a21
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/css/jass.css"> 
    <link rel="stylesheet" href="/css/style.css">
    
<<<<<<< HEAD
=======

>>>>>>> 754f1d3d7fcee6fd203ed2cc048c3cf4402e8a21
</head>

<body>
    <div class="header">
        <h1>Ghost Tracker</h1>
            <p>What did the ghost buy at the bar? Boos!</p>
    </div>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/post">New Post</a>
        <a href="/login">Login</a>
    </div>

                
        
       
  





    <div class="flex-column">
        {{!-- <header>
            {{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Ghost Tracker</a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/">Home <span class="sr-only"></span></a>
                        <a class="nav-item nav-link" href="/post">New Post</a>
                        <a class="nav-item nav-link" href="/login">Login</a>
                    </div>
                </div>
            </nav> --}}
        </header> --}}
        <main class="container-fluid mt-5">
            {{{body}}}
        </main>
       
        <footer>

        </footer>
    </div>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>